.empty {
  height: 50px;
}

.background {
  background: linear-gradient(rgba(180,209,31,0.2), rgba(248, 131, 121, 0.2));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cocktail-description {
  list-style-type: none;
  padding: 0px;
}

.cocktail-row {
  text-decoration: none;
  margin: 4px;
}
